*{
    color: white;
    font-size: .8rem;
}


li{
    list-style-type: none;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vmax;
    
    background-color:rgb(5, 5, 5);;
}
header{
    position: relative;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: pink;
    width: 100%;
    white-space: nowrap;
    color: white;
    
}

.header-user-ID {
    font-weight: bold;
    font-family: "Montserrat"
}

header >p >span{
    font-weight: bold;
    font-family: "Montserrat";
    color: white;
}

header >p>i{
    margin: auto .5rem;
    color: white;
}

.header-user-ID{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}


.icon-container{
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    
}
.icon-container > li{
    display: inline-flex;
}

header >h2{
    display: inline-flex;
    align-items: center;
    color: white;
}




.user-pic-socialstat-container{
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    // background-color: pink;
}

.user-pic{
    display: inline-flex;
    aspect-ratio:1/1;
    max-width: 4.5rem;
    max-height: 4.5 rem;
    background-color: wheat;
    object-fit: cover;
    align-content: center center;
    border-radius: 200px;
}

.user-socialstat{

    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    width: 100%;
    padding: 0 2rem;
}
.stat-box{
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center center;
}

.stat-box *{
    white-space: nowrap;
    font-family: "Montserrat";
    font-weight: bold;
}
.personal-profile-wrapper{
    padding: 0 1rem;
}
.profile-user-name{
    font-weight: bold;
    margin: .1rem 0;
}

.translator{
    font-weight: bold;

}

.follow-contact-area{
    width: 100%;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 5fr 5fr 1fr;
    gap: .4rem;
    // justify-content: space-between;
}

.sub-btn i{
    transform: scale(.6);
    display: inline-block;
    text-align: center;
}

.follow-contact-area .sub-btn,
.follow-contact-area .mini-btn{
    text-align: center;
    background-color: #424242;
    margin: auto 0;
    padding:.2rem .3rem;
    border-radius: .5rem;
    font-weight: bold;
}

.follow-contact-area .mini-btn{
    min-width: fit-content;
}

// main

main{
    height: 100%;
}

// feed




.footer-function-panel{
    margin: auto 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 2rem
}
.footer-icon-client-pic{
    width: 1.5rem;
    border-radius: 100px;
}

