<div class="container">
    <header>
        <div class="header-left">
            <img class="author-pic"  alt="author-pic">

            <div class="author-info">
                <p class="author-ID">authorID</p>
            </div>
        </div>
        <div class="header-right">
            <span>
                <i class="fa-solid fa-ellipsis"></i>
            </span>
        </div>
    </header>
    <div class="post-pic">
        <img  alt="postIMG">
    </div>
    <div class="post-stat-container">
        <div class="functional-icon-container">
            <div class="content-icon-area">
                <svg width="24px" height="24px" viewBox="0 0 192.00 192.00" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" fill="none" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M60.732 29.7C41.107 29.7 22 39.7 22 67.41c0 27.29 45.274 67.29 74 94.89 28.744-27.6 74-67.6 74-94.89 0-27.71-19.092-37.71-38.695-37.71C116 29.7 104.325 41.575 96 54.066 87.638 41.516 76 29.7 60.732 29.7z" style="clip-rule:evenodd;display:inline;fill:none;stroke:#ffffff;stroke-width:16.512;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:2;stroke-dasharray:none;stroke-opacity:1"></path></g></svg>
                <svg fill="#ffffff" width="24px" height="24px" viewBox="0 0 24.00 24.00" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M12,2a10,10,0,1,0,4.924,18.7l3.76,1.253A1.014,1.014,0,0,0,21,22a1,1,0,0,0,.948-1.316L20.7,16.924A9.988,9.988,0,0,0,12,2Zm6.653,15.121.766,2.3-2.3-.766a.994.994,0,0,0-.851.1,8.02,8.02,0,1,1,2.488-2.488A1,1,0,0,0,18.653,17.121Z"></path></g></svg>
                <svg version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" width="24px" height="24px" fill="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill:none;stroke:#ffffff;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} </style> <polygon class="st0" points="28.6,3.4 3.4,12.6 15.1,16.9 22.4,28.6 "></polygon> <line class="st0" x1="28" y1="4" x2="15.1" y2="16.9"></line> </g></svg>
            </div>
            <div class="bookmark-icon-area">
                <i class="fa-regular fa-bookmark"></i>
            </div>
        </div>
        <div class="post-stat">
            <p class="likes">post.likes個讚</p>
            <div class="post-content">
                post.content
            </div>
            <div class="comment-area">
                <p   class="extend">查看全部comments.length則留言</p>
            </div>
            <form  class="comment-input-container">
                <img class="client-pic"  alt="clientImg">
                <input class="comment-input" type="text" placeholder="新增留言......">
            </form>
        </div>
        <div class="post-footer">
            <p class="translate"><span class="timestamp">2天前．</span>翻譯年糕</p>
        </div>


    </div>
</div>