*{
 font-size: .9rem;
}

.container{
    background-color: black;
    height:100vmax;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
}

header i{
    margin: auto 0;
    font-size: 1.2rem;
}

header a{
    font-size: 1.2rem;
    font-weight: bold;
}
.author-pic,.commenter-pic{
    display: inline-block;
    width: 2rem;
    border-radius: 100px;
}


.recites{
    height: 100%;
    overflow-y: scroll;
}
.post-recite, .comment-recite{
    display: flex;
    gap: .5rem;
    border: 1px rgb(46, 46, 46) solid;
    padding: 1rem;
}
.recite-content-container{
    width: 100%;
}
.recite-content{
    padding: .4rem 0;
}

.comment-stat-area{
    display: flex;
    gap: 1rem;
    color: rgb(201, 201, 201);
}
.input-container{
    display: flex;
    padding: .5rem 1rem;
    gap: 1rem;
}

.client-pic{
    width: 2.5rem;
    border-radius: 100px;
}
.reply-input-container{
    margin: auto 0;
    width: 100%;
}

.reply-input{
    padding: 0 1rem;
    height: 2.5rem;
    width: 100%;
    background: transparent;
    border-radius: 100px;
    outline: rgb(83, 83, 83) 1px solid;
    color: white;
}

.reply-input::placeholder{
    color: gray;
}