<div class="container">
    <header>
        <a  style="cursor: pointer;"><i class="fa-solid fa-chevron-left"></i></a>
        <a>留言</a>
        <svg version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" width="24px" height="24px" fill="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill:none;stroke:#ffffff;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} </style> <polygon class="st0" points="28.6,3.4 3.4,12.6 15.1,16.9 22.4,28.6 "></polygon> <line class="st0" x1="28" y1="4" x2="15.1" y2="16.9"></line> </g></svg>
    </header>
    <div class="recites">
        <div class="post-recite">
            <div class="pic-container">
                <img  class="author-pic"  alt="profilePIC">
            </div>

            <div class="recite-content-container">
                <p>authorID</p>
                <p class="recite-content">content</p>
            </div>
        </div>

    <!--  -->
        <ng-container >
            <div class="comment-recite">
            
                <div class="pic-container">
                    
                    <img  class="commenter-pic"  alt="profilePIC">
                </div>

                <div class="recite-content-container">
                    <p class="author-name"></p>
                    <p class="recite-content"></p>
                    <div class="comment-stat-area">
                        <span> 個讚</span>
                        <span>回復</span>
                        <span>翻譯年糕</span>
                    </div>
                

                </div>
                <div class="like-button">
                    <svg width="24px" height="24px" viewBox="0 0 192.00 192.00" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" fill="none" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M60.732 29.7C41.107 29.7 22 39.7 22 67.41c0 27.29 45.274 67.29 74 94.89 28.744-27.6 74-67.6 74-94.89 0-27.71-19.092-37.71-38.695-37.71C116 29.7 104.325 41.575 96 54.066 87.638 41.516 76 29.7 60.732 29.7z" style="clip-rule:evenodd;display:inline;fill:none;stroke:#ffffff;stroke-width:16.512;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:2;stroke-dasharray:none;stroke-opacity:1"></path></g></svg>
                </div>
            </div>

        </ng-container>
    </div>
    

    <div class="input-container">
        <!-- <img [src]="clientPic"  alt=""> -->
        <img class="client-pic"   alt="client-pic">
        <form  class="reply-input-container">
            <input    class="reply-input" type="text" placeholder="以  新增留言......">
        </form>
    </div>
</div>